# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtualenv
.env/
venv/
env/
.venv/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
/migrations/

# VS Code settings
.vscode/

# Apuntes personales
apuntes.txt