<!doctype html>
<html class="no-js" lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block head_title %}Portfolio Kevin Rojas{% endblock head_title %}</title>

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  {% block header %}
  
  {% include "_includes/_header.html" %} 

  {% endblock header %}



{% block  main %}

{% include "_includes/_main.html" %}

{% endblock main %}




{% block footer %}

{% include "_includes/_footer.html" %} 

{% endblock footer %}


</body>

</html>


