<!--Extendenmos de la plantiya layaout previamente creada-->
{% extends "layout.html" %}
<!--Reescribimos el bloque head_tittle del html layaout-->
{% block head_title %}Pagina inicio{% endblock head_title %}


<!--Reescribimos el bloque page_content del html layaout-->
{% block page_content %}
    <h2>Bienvenidos al lugar donde descansa el saber</h2>
    <p>Actualmete disponemos de mas de 1000 libros 20 editoriales
        y 3000 autores distiontos donde puedes elegir,buscar o 
        encontrar a tu autor, libro, editorial favorito
    </p>
{% endblock page_content %}



